:root {
 --primary: var(--primary-dark);
 --on-primary: var(--on-primary-dark);
 --primary-container: var(--primary-container-dark);
 --on-primary-container: var(--on-primary-container-dark);
 --primary-fixed: var(--primary-fixed-dark);
 --on-primary-fixed: var(--on-primary-fixed-dark);
 --primary-fixed-dim: var(--primary-fixed-dim-dark);
 --on-primary-fixed-variant: var(--on-primary-fixed-variant-dark);
 --secondary: var(--secondary-dark);
 --on-secondary: var(--on-secondary-dark);
 --secondary-container: var(--secondary-container-dark);
 --on-secondary-container: var(--on-secondary-container-dark);
 --secondary-fixed: var(--secondary-fixed-dark);
 --on-secondary-fixed: var(--on-secondary-fixed-dark);
 --secondary-fixed-dim: var(--secondary-fixed-dim-dark);
 --on-secondary-fixed-variant: var(--on-secondary-fixed-variant-dark);
 --tertiary: var(--tertiary-dark);
 --on-tertiary: var(--on-tertiary-dark);
 --tertiary-container: var(--tertiary-container-dark);
 --on-tertiary-container: var(--on-tertiary-container-dark);
 --tertiary-fixed: var(--tertiary-fixed-dark);
 --on-tertiary-fixed: var(--on-tertiary-fixed-dark);
 --tertiary-fixed-dim: var(--tertiary-fixed-dim-dark);
 --on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant-dark);
 --error: var(--error-dark);
 --on-error: var(--on-error-dark);
 --error-container: var(--error-container-dark);
 --on-error-container: var(--on-error-container-dark);
 --outline: var(--outline-dark);
 --background: var(--background-dark);
 --on-background: var(--on-background-dark);
 --surface: var(--surface-dark);
 --on-surface: var(--on-surface-dark);
 --surface-variant: var(--surface-variant-dark);
 --on-surface-variant: var(--on-surface-variant-dark);
 --inverse-surface: var(--inverse-surface-dark);
 --inverse-on-surface: var(--inverse-on-surface-dark);
 --inverse-primary: var(--inverse-primary-dark);
 --shadow: var(--shadow-dark);
 --surface-tint: var(--surface-tint-dark);
 --outline-variant: var(--outline-variant-dark);
 --scrim: var(--scrim-dark);
 --surface-container-highest: var(--surface-container-highest-dark);
 --surface-container-high: var(--surface-container-high-dark);
 --surface-container: var(--surface-container-dark);
 --surface-container-low: var(--surface-container-low-dark);
 --surface-container-lowest: var(--surface-container-lowest-dark);
 --surface-bright: var(--surface-bright-dark);
 --surface-dim: var(--surface-dim-dark);
}
