:root {
  --md-source: #D0E5C4;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #011500;
  --md-ref-palette-primary10: #012200;
  --md-ref-palette-primary20: #043900;
  --md-ref-palette-primary25: #084602;
  --md-ref-palette-primary30: #18520D;
  --md-ref-palette-primary35: #255E19;
  --md-ref-palette-primary40: #316B24;
  --md-ref-palette-primary50: #4A853B;
  --md-ref-palette-primary60: #639F52;
  --md-ref-palette-primary70: #7DBB6A;
  --md-ref-palette-primary80: #97D783;
  --md-ref-palette-primary90: #B2F49C;
  --md-ref-palette-primary95: #CBFFB7;
  --md-ref-palette-primary98: #EDFFE1;
  --md-ref-palette-primary99: #F7FFEE;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #081405;
  --md-ref-palette-secondary10: #121F0E;
  --md-ref-palette-secondary20: #273422;
  --md-ref-palette-secondary25: #313F2C;
  --md-ref-palette-secondary30: #3D4B37;
  --md-ref-palette-secondary35: #485642;
  --md-ref-palette-secondary40: #54634D;
  --md-ref-palette-secondary50: #6C7B65;
  --md-ref-palette-secondary60: #86957D;
  --md-ref-palette-secondary70: #A0B097;
  --md-ref-palette-secondary80: #BBCBB1;
  --md-ref-palette-secondary90: #D7E8CC;
  --md-ref-palette-secondary95: #E5F6DA;
  --md-ref-palette-secondary98: #EEFFE3;
  --md-ref-palette-secondary99: #F7FFEE;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001415;
  --md-ref-palette-tertiary10: #002021;
  --md-ref-palette-tertiary20: #003739;
  --md-ref-palette-tertiary25: #0F4244;
  --md-ref-palette-tertiary30: #1E4D50;
  --md-ref-palette-tertiary35: #2B595C;
  --md-ref-palette-tertiary40: #386668;
  --md-ref-palette-tertiary50: #517F81;
  --md-ref-palette-tertiary60: #6B999B;
  --md-ref-palette-tertiary70: #85B3B6;
  --md-ref-palette-tertiary80: #A0CFD2;
  --md-ref-palette-tertiary90: #BCEBEE;
  --md-ref-palette-tertiary95: #CAFAFC;
  --md-ref-palette-tertiary98: #E6FEFF;
  --md-ref-palette-tertiary99: #F2FFFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0F120E;
  --md-ref-palette-neutral10: #1A1C18;
  --md-ref-palette-neutral20: #2F312D;
  --md-ref-palette-neutral25: #3A3C38;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral35: #51534E;
  --md-ref-palette-neutral40: #5D5F5A;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918C;
  --md-ref-palette-neutral70: #ABACA6;
  --md-ref-palette-neutral80: #C6C7C1;
  --md-ref-palette-neutral90: #E2E3DC;
  --md-ref-palette-neutral95: #F1F1EA;
  --md-ref-palette-neutral98: #FAFAF3;
  --md-ref-palette-neutral99: #FCFDF6;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0D120B;
  --md-ref-palette-neutral-variant10: #181D15;
  --md-ref-palette-neutral-variant20: #2C3229;
  --md-ref-palette-neutral-variant25: #373D34;
  --md-ref-palette-neutral-variant30: #43483F;
  --md-ref-palette-neutral-variant35: #4E544A;
  --md-ref-palette-neutral-variant40: #5A6056;
  --md-ref-palette-neutral-variant50: #73796E;
  --md-ref-palette-neutral-variant60: #8D9387;
  --md-ref-palette-neutral-variant70: #A7ADA1;
  --md-ref-palette-neutral-variant80: #C3C8BC;
  --md-ref-palette-neutral-variant90: #DFE4D7;
  --md-ref-palette-neutral-variant95: #EDF3E5;
  --md-ref-palette-neutral-variant98: #F6FBEE;
  --md-ref-palette-neutral-variant99: #F9FEF1;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --primary-light: #316B24;
  --on-primary-light: #FFFFFF;
  --primary-container-light: #B2F49C;
  --on-primary-container-light: #012200;
  --primary-fixed-light: #B2F49C;
  --on-primary-fixed-light: #012200;
  --primary-fixed-dim-light: #97D783;
  --on-primary-fixed-variant-light: #18520D;
  --secondary-light: #54634D;
  --on-secondary-light: #FFFFFF;
  --secondary-container-light: #D7E8CC;
  --on-secondary-container-light: #121F0E;
  --secondary-fixed-light: #D7E8CC;
  --on-secondary-fixed-light: #121F0E;
  --secondary-fixed-dim-light: #BBCBB1;
  --on-secondary-fixed-variant-light: #3D4B37;
  --tertiary-light: #386668;
  --on-tertiary-light: #FFFFFF;
  --tertiary-container-light: #BCEBEE;
  --on-tertiary-container-light: #002021;
  --tertiary-fixed-light: #BCEBEE;
  --on-tertiary-fixed-light: #002021;
  --tertiary-fixed-dim-light: #A0CFD2;
  --on-tertiary-fixed-variant-light: #1E4D50;
  --error-light: #BA1A1A;
  --on-error-light: #FFFFFF;
  --error-container-light: #FFDAD6;
  --on-error-container-light: #410002;
  --outline-light: #73796E;
  --background-light: #FCFDF6;
  --on-background-light: #1A1C18;
  --surface-light: #FAFAF3;
  --on-surface-light: #1A1C18;
  --surface-variant-light: #DFE4D7;
  --on-surface-variant-light: #43483F;
  --inverse-surface-light: #2F312D;
  --inverse-on-surface-light: #F1F1EA;
  --inverse-primary-light: #97D783;
  --shadow-light: #000000;
  --surface-tint-light: #316B24;
  --outline-variant-light: #C3C8BC;
  --scrim-light: #000000;
  --surface-container-highest-light: #E2E3DC;
  --surface-container-high-light: #E8E9E2;
  --surface-container-light: #EEEEE8;
  --surface-container-low-light: #F4F4ED;
  --surface-container-lowest-light: #FFFFFF;
  --surface-bright-light: #FAFAF3;
  --surface-dim-light: #DADAD4;
  /* dark */
  --primary-dark: #97D783;
  --on-primary-dark: #043900;
  --primary-container-dark: #18520D;
  --on-primary-container-dark: #B2F49C;
  --primary-fixed-dark: #B2F49C;
  --on-primary-fixed-dark: #012200;
  --primary-fixed-dim-dark: #97D783;
  --on-primary-fixed-variant-dark: #18520D;
  --secondary-dark: #BBCBB1;
  --on-secondary-dark: #273422;
  --secondary-container-dark: #3D4B37;
  --on-secondary-container-dark: #D7E8CC;
  --secondary-fixed-dark: #D7E8CC;
  --on-secondary-fixed-dark: #121F0E;
  --secondary-fixed-dim-dark: #BBCBB1;
  --on-secondary-fixed-variant-dark: #3D4B37;
  --tertiary-dark: #A0CFD2;
  --on-tertiary-dark: #003739;
  --tertiary-container-dark: #1E4D50;
  --on-tertiary-container-dark: #BCEBEE;
  --tertiary-fixed-dark: #BCEBEE;
  --on-tertiary-fixed-dark: #002021;
  --tertiary-fixed-dim-dark: #A0CFD2;
  --on-tertiary-fixed-variant-dark: #1E4D50;
  --error-dark: #FFB4AB;
  --on-error-dark: #690005;
  --error-container-dark: #93000A;
  --on-error-container-dark: #FFDAD6;
  --outline-dark: #8D9387;
  --background-dark: #1A1C18;
  --on-background-dark: #E2E3DC;
  --surface-dark: #121410;
  --on-surface-dark: #C6C7C1;
  --surface-variant-dark: #43483F;
  --on-surface-variant-dark: #C3C8BC;
  --inverse-surface-dark: #E2E3DC;
  --inverse-on-surface-dark: #1A1C18;
  --inverse-primary-dark: #316B24;
  --shadow-dark: #000000;
  --surface-tint-dark: #97D783;
  --outline-variant-dark: #43483F;
  --scrim-dark: #000000;
  --surface-container-highest-dark: #333531;
  --surface-container-high-dark: #292B26;
  --surface-container-dark: #1E201C;
  --surface-container-low-dark: #1A1C18;
  --surface-container-lowest-dark: #0D0F0B;
  --surface-bright-dark: #383A35;
  --surface-dim-dark: #121410;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
